@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&family=Noto+Sans+KR:wght@300;500&family=Nunito:wght@500;700&family=Open+Sans:wght@400;600&display=swap");
@import "screen1.css";
@import "screen2.css";

html,
button {
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.screen {
  width: 370px;
  height: 826px;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.header-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
